<head>
  <title>Error</title>
</head>
<body>
  <div class="entry">
    <h1>Error</h1>
    <div class="body">
      <pre>{{error}}</pre>
    </div>
  </div>
<link rel="stylesheet" href="./comic.css">
</body>