<head>
  <title>{{title}}</title>
</head>
<body>
  <div class="entry">
    <h1>{{title}}</h1>
    <div class="body">
      <img src="{{img}}" alt="{{desc}}">
    </div>
  </div>
<link rel="stylesheet" href="./comic.css">
</body>